In [1]:
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv('cursos-prouni.csv')
df.head(3)
# df.head() - primeiros
# df.tail() - ultimos
# df.sample() - sortidos

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,AC,Acrelandia,Universidade Paulista - UNIP,ACRELANDIA - Centro,Administração,Bacharelado,Curso a Distância,289.0,1.0,1.0,NaN,NaN,572.74,548.0,NaN,NaN
1,AC,Cruzeiro do Sul,Centro Universitário Internacional - Uninter -...,PAP CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,298.0,1.0,NaN,NaN,NaN,646.14,NaN,NaN,NaN
2,AC,Cruzeiro do Sul,Faculdade Educacional da Lapa - FAEL,AC - CRUZEIRO DO SUL - POLO EAD - CENTRO,Administração,Bacharelado,Curso a Distância,325.0,NaN,NaN,1.0,NaN,NaN,NaN,577.62,NaN

In [3]:
# codigos iniciais para analisar o df
# df.shape
# df.info()
# df.describe()
# df.dtypes
# df.fillna()

In [4]:
df.describe()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
count,41447.000000,32520.000000,25404.000000,8828.000000,13041.000000,32520.000000,16802.000000,16350.000000,5519.000000
mean,622.636966,1.535394,2.513541,1.873018,8.632544,575.982999,564.470439,527.517136,511.799638
std,606.442296,2.191578,3.019549,2.336403,18.372991,57.827594,57.869145,60.202170,56.787140
min,139.000000,0.000000,1.000000,1.000000,1.000000,450.000000,450.000000,450.000000,450.000000
25%,278.000000,0.000000,1.000000,1.000000,1.000000,544.360000,532.865000,453.980000,450.000000
50%,393.350000,1.000000,1.000000,1.000000,2.000000,580.740000,571.450000,532.420000,511.820000
75%,825.000000,2.000000,3.000000,2.000000,6.000000,614.145000,603.315000,573.235000,557.170000
max,9999.990000,58.000000,67.000000,74.000000,350.000000,781.200000,792.240000,776.360000,768.340000

In [5]:
# Como pegar uma palavra chave dentro de uma coluna 
#novoDF = df[df['coluna'].str.contains('Palavra chave')]

In [6]:
#Quantidade de cursos por UF
df['uf_busca'].value_counts()

SP    11533
MG     4175
PR     3918
RS     3060
BA     2505
SC     2195
RJ     1442
GO     1278
PA     1201
PE     1148
MT     1063
DF     1063
ES      825
CE      816
MS      785
MA      679
PB      596
RO      463
AM      429
PI      405
TO      343
RN      342
AL      327
SE      323
AP      219
AC      203
RR      111
Name: uf_busca, dtype: int64

In [7]:
# Qual o curso com a mensalidade mais alta?
df[df['mensalidade'] > 9000.00 ]

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
12916,CE,Crateus,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,Enfermagem,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,663.36,NaN,NaN,NaN
31940,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,Medicina,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,758.32,723.94,734.92,711.26
31945,BA,Lauro de Freitas,Faculdade de Ciências Agrárias e da Saúde - FAS,UNIDADE SEDE - Centro,Medicina,Bacharelado,Integral,9048.00,13.0,4.0,NaN,NaN,741.04,730.36,NaN,NaN
31983,MG,Sao Joao Del Rei,Centro Universitário Presidente Tancredo de Al...,UNIDADE SEDE (UNIDADE) - Fábricas,Medicina,Bacharelado,Integral,9350.00,4.0,3.0,NaN,NaN,747.84,736.68,NaN,NaN
31987,MS,Campo Grande,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,Medicina,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,740.22,726.46,NaN,NaN
31988,MT,Cuiaba,Universidade de Cuiabá - UNIC/UNIME,UNIC - BEIRA RIO (SEDE) - Jardim Europa,Medicina,Bacharelado,Integral,9208.00,7.0,5.0,NaN,NaN,735.40,725.36,NaN,NaN
32012,RJ,Itaperuna,Faculdade Redentor - FACREDENTOR,CAMPUS - ITAPERUNA - PRESIDENTE COSTA E SILVA...,Medicina,Bacharelado,Integral,9023.07,4.0,4.0,5.0,5.0,741.06,729.02,730.98,722.82
32045,SP,Marilia,Universidade de Marília - UNIMAR,UNIDADE SEDE - Campus Universitario,Medicina,Bacharelado,Integral,9564.00,3.0,5.0,NaN,NaN,744.16,735.00,NaN,NaN
32047,SP,Presidente Prudente,Universidade do Oeste Paulista - UNOESTE,CAMPUS I SEDE ADMINISTRATIVA PRESIDENTE PRUDE...,Medicina,Bacharelado,Integral,9650.00,8.0,15.0,NaN,NaN,738.92,728.86,NaN,NaN
32058,SP,Sao Paulo,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,Medicina,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,739.62,738.08,738.96,718.64
37058,CE,Crateus,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,Psicologia,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,651.00,652.22,NaN,NaN

In [8]:
# Em quais Estados e cidades estão os cursos mais baratos do Brasil?
df[df['mensalidade'] == df['mensalidade'].min()][['uf_busca','cidade_busca']]

      uf_busca cidade_busca
20454       PA     Santarem
22934       DF     Brasilia
39118       ES      Vitoria

In [9]:
# Qual a mensalidade mais cara por UF
# Agrupar por 'uf_busca', coluna ['mensalidade']
df.groupby('uf_busca')['mensalidade'].max()

uf_busca
AC    9674.34
AL    7290.00
AM    2127.05
AP    3607.62
BA    9048.00
CE    9836.40
DF    6757.92
ES    6022.28
GO    6484.47
MA    8281.38
MG    9350.00
MS    9999.99
MT    9208.00
PA    8508.54
PB    8350.00
PE    7250.00
PI    8402.00
PR    8466.72
RJ    9023.07
RN    6505.09
RO    6909.97
RR    1463.05
RS    8329.95
SC    6922.15
SE    6490.00
SP    9715.61
TO    7800.00
Name: mensalidade, dtype: float64

In [10]:
# Mostrar todos os dados dos cursos mais caros de cada UF
df.loc[df.groupby('uf_busca')['mensalidade'].idxmax()][['uf_busca', 'mensalidade']]

      uf_busca  mensalidade
31940       AC      9674.34
31941       AL      7290.00
32962       AM      2127.05
32966       AP      3607.62
31945       BA      9048.00
12916       CE      9836.40
31950       DF      6757.92
31952       ES      6022.28
31957       GO      6484.47
31959       MA      8281.38
31983       MG      9350.00
31987       MS      9999.99
31988       MT      9208.00
31990       PA      8508.54
31995       PB      8350.00
31997       PE      7250.00
32001       PI      8402.00
11916       PR      8466.72
32012       RJ      9023.07
32017       RN      6505.09
32019       RO      6909.97
33143       RR      1463.05
32022       RS      8329.95
32036       SC      6922.15
32038       SE      6490.00
32058       SP      9715.61
32062       TO      7800.00

In [11]:
# Mensalidades entre 500 e 1000
df[(df['mensalidade'] > 500) & (df['mensalidade'] < 1000)]

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
5,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,Administração,Bacharelado,Noturno,823.22,NaN,NaN,NaN,2.0,NaN,NaN,564.24,NaN
9,AC,Rio Branco,Faculdade Meta - FAMETA,FACULDADE META - Conjunto Mariana,Administração,Bacharelado,Noturno,522.79,0.0,2.0,NaN,2.0,606.40,NaN,582.24,NaN
10,AC,Rio Branco,Unama Faculdade da Amazônia de Rio Branco - FM...,CAMPUS PRINCIPAL - Abrão Alab,Administração,Bacharelado,Noturno,672.15,2.0,1.0,NaN,NaN,567.98,568.88,NaN,NaN
13,AL,Arapiraca,Faculdade Uninassau Arapiraca,CAMPUS PRINCIPAL - Centro,Administração,Bacharelado,Noturno,586.63,2.0,1.0,NaN,NaN,658.26,593.30,NaN,NaN
18,AL,Maceio,Centro Universitário Maurício de Nassau de Mac...,UNIDADE SEDE - Ponta Verde,Administração,Bacharelado,Noturno,586.63,2.0,1.0,NaN,NaN,598.60,578.98,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41435,BA,Salvador,Faculdade Regional da Bahia - FARB,UNIRB - Patamares,Viticultura e Enologia,Tecnológico,Noturno,840.00,2.0,NaN,4.0,1.0,502.08,NaN,450.00,450.00
41437,MA,Timon,Instituto de Ensino Superior Múltiplo - IESM,CAMPUS - TIMON - PARQUE SÃO FRANCISCO - Parqu...,Zootecnia,Bacharelado,Vespertino,689.22,2.0,NaN,NaN,2.0,569.46,NaN,557.98,NaN
41438,MG,Patos de Minas,Centro Universitário de Patos de Minas - Unipa...,UNIDADE SEDE - Caiçaras,Zootecnia,Bacharelado,Noturno,951.29,0.0,2.0,NaN,NaN,610.40,NaN,NaN,NaN
41441,MT,Jaciara,Faculdade de Ciências Sociais Aplicadas do Val...,CAMPUS - JACIARA - CENTRO - Centro,Zootecnia,Bacharelado,Noturno,990.00,1.0,NaN,2.0,8.0,583.68,NaN,540.48,518.86
41442,PA,Redencao,Faculdade de Ensino Superior da Amazônia Reuni...,POLO NA SEDE - ALTO PARANÁ,Zootecnia,Bacharelado,Noturno,932.83,3.0,1.0,NaN,NaN,634.46,578.50,NaN,NaN

In [12]:
# Quais as maiores notas por UF
df.loc[df.groupby('uf_busca')['nota_integral_ampla'].idxmax()][['uf_busca', 'turno', 'mensalidade', 'nota_integral_ampla']]

      uf_busca              turno  mensalidade  nota_integral_ampla
31940       AC           Integral      9674.34               758.32
31941       AL           Integral      7290.00               753.02
31037       AM  Curso a Distância       273.00               717.62
14013       AP         Vespertino      1570.35               731.06
31947       BA           Integral      8107.41               767.42
31949       CE           Integral      7783.50               767.90
31951       DF           Integral      6399.14               757.44
31954       ES           Integral      5696.00               768.20
10205       GO            Noturno       914.55               771.66
5328        MA         Vespertino      1433.65               763.66
31986       MG           Integral      8195.00               770.50
31987       MS           Integral      9999.99               740.22
31988       MT           Integral      9208.00               735.40
31989       PA           Integral      6205.33               772.40
31993       PB           Integral      7686.00               764.32
31999       PE           Integral      5220.85               757.40
32001       PI           Integral      8402.00               772.82
32008       PR           Integral      6398.55               781.20
32016       RJ           Integral      6990.00               761.96
32017       RN           Integral      6505.09               750.88
32020       RO           Integral      6340.26               752.36
5461        RR  Curso a Distância       691.20               691.84
32027       RS           Integral      7486.44               762.58
32035       SC           Integral      6307.01               761.66
32038       SE           Integral      6490.00               753.04
32060       SP           Integral      6984.00               763.16
32061       TO           Integral      7793.50               748.38

In [13]:
# Qual a mensalidade mais cara, no período noturno, paga para cada Estado?
# Primeiro definir um df apenas do período noturno
df_not = df[df['turno'] == 'Noturno']
# Localizar por UF, a mensalidade mais cara e selecionar as colunas a serem exibidas
df_not.loc[df_not.groupby('uf_busca')['mensalidade'].idxmax()][['uf_busca', 'turno', 'mensalidade', 'nota_integral_ampla', 'nome', 'universidade_nome']]

,uf_busca,turno,mensalidade,nota_integral_ampla,nome,universidade_nome
32955,AC,Noturno,2382.53,698.94,Odontologia,Faculdade Barão do Rio Branco - FAB
32065,AL,Noturno,1755.00,610.94,Medicina Veterinária,Faculdade Regional Brasileira - Arapiraca - FA...
32963,AM,Noturno,2127.05,629.76,Odontologia,Faculdade Uninassau Manaus
32966,AP,Noturno,3607.62,690.32,Odontologia,Instituto Macapaense de Ensino Superior - IMMES
14951,BA,Noturno,8695.43,747.90,Engenharia de Computação,Universidade Salvador - UNIFACS
12916,CE,Noturno,9836.40,663.36,Enfermagem,Faculdade Princesa do Oeste - FPO
33000,DF,Noturno,2221.36,714.18,Odontologia,Centro Universitário do Distrito Federal - Udf...
33005,ES,Noturno,2188.00,658.46,Odontologia,Faculdade Pitágoras de Linhares
13038,GO,Noturno,1987.00,588.96,Enfermagem,Faculdade de Ciências e Educação Sena Aires - ...
33022,MA,Noturno,2375.00,645.60,Odontologia,Faculdade de Tecnologia e Administração Edufor...
32103,MG,Noturno,2698.00,NaN,Medicina Veterinária,Centro Universitário de Belo Horizonte - Uni-B...
37229,MS,Noturno,1527.66,662.42,Psicologia,Universidade Católica Dom Bosco - UCDB
33072,MT,Noturno,3644.77,697.74,Odontologia,Faculdade Fasipe - FASIPE
33076,PA,Noturno,2333.74,688.82,Odontologia,Faculdade Uninassau Belém
33090,PB,Noturno,2597.00,689.36,Odontologia,Faculdades Integradas de Patos - FIP
33093,PE,Noturno,1962.00,659.20,Odontologia,Faculdade Uninassau Caruaru
33107,PI,Noturno,2127.05,676.62,Odontologia,Faculdade Uninassau Aliança
10578,PR,Noturno,7717.82,637.22,Direito,Faculdade Dom Bosco - FDB
10674,RJ,Noturno,3347.00,698.00,Direito,Pontifícia Universidade Católica do Rio de Jan...
33136,RN,Noturno,2076.94,665.20,Odontologia,Faculdade Uninassau Natal
33140,RO,Noturno,2331.42,672.68,Odontologia,Faculdade Panamericana de Ji-Paraná
14578,RR,Noturno,1341.43,662.38,Engenharia Civil,Centro Universitário Estácio da Amazônia - Est...
14581,RS,Noturno,2441.90,NaN,Engenharia Civil,Universidade de Caxias do Sul - UCS
33155,SC,Noturno,3274.00,668.56,Odontologia,Faculdade Avantis - AVANTIS
4453,SE,Noturno,1251.58,590.46,Arquitetura e Urbanismo,Faculdade Ages de Lagarto - Faculdade AGES
14792,SP,Noturno,5605.20,608.82,Engenharia Civil,Faculdade de Roseira - FARO
3041,TO,Noturno,1699.50,634.40,Agronomia,Centro Universitário Tocantinense Presidente A...

In [14]:
# Qual o valor mais caro para um curso de enfermagem? Qual a média de valor entre os cursos do Brasil?
# Criar um df específico para enfermagem.
df_enf = df[df['nome'] == 'Enfermagem']
df_enf.head(2)

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
12800,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,Enfermagem,Bacharelado,Matutino,1297.2,1.0,NaN,3.0,1.0,634.52,NaN,570.54,601.48
12801,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,Enfermagem,Bacharelado,Noturno,1297.2,1.0,1.0,NaN,2.0,633.88,639.02,631.46,NaN

In [15]:
# Achar o valor mais caro
df_enf.max()[['uf_busca', 'nome', 'mensalidade']]

uf_busca               TO
nome           Enfermagem
mensalidade        9836.4
dtype: object

In [16]:
# Valor médio das mensalidades por UF
df_enf.groupby('uf_busca').mean()['mensalidade']

uf_busca
AC    1110.160000
AL     872.169167
AM     855.342500
AP    1267.572000
BA     995.472237
CE    1296.200556
DF    1201.456000
ES     869.248696
GO    1006.898108
MA    1016.057600
MG    1043.255495
MS     797.965000
MT    1159.742222
PA     891.913611
PB     832.130800
PE     878.922308
PI     905.968095
PR    1220.269565
RJ     888.149200
RN     987.350000
RO     909.952105
RR     738.535000
RS    1501.715111
SC    1116.261154
SE    1007.851538
SP     850.906596
TO     835.177273
Name: mensalidade, dtype: float64

In [17]:
# Qual o valor pago nas mensalidades no Ceará?
df_enf.loc[df_enf['uf_busca'] == 'CE'][['turno','universidade_nome','mensalidade']]

,turno,universidade_nome,mensalidade
12913,Noturno,Faculdade do Vale do Jaguaribe - FVJ,932.00
12914,Matutino,Faculdade Terra Nordeste - FATENE,1390.46
12915,Noturno,Faculdade Terra Nordeste - FATENE,1390.46
12916,Noturno,Faculdade Princesa do Oeste - FPO,9836.40
12917,Noturno,Centro Universitário Christus - Unichristus - ...,1207.00
12918,Noturno,Centro Universitário Christus - Unichristus - ...,1207.00
12919,Noturno,Centro Universitário Estácio do Ceará - Estáci...,1141.43
12920,Vespertino,Centro Universitário Estácio do Ceará - Estáci...,998.57
12921,Noturno,Faculdade Ateneu - FATE,940.50
12922,Matutino,Faculdade Ateneu - FATE,881.64
12923,Noturno,Faculdade Ateneu - FATE,897.75
12924,Matutino,Faculdade Ateneu - FATE,807.55
12925,Noturno,Faculdade de Ensino e Cultura do Ceará - FAECE,755.45
12926,Matutino,Faculdade de Tecnologia Intensiva - FATECI,1037.74
12927,Noturno,Faculdade de Tecnologia Intensiva - FATECI,1037.74
12928,Noturno,Faculdade Educacional Fortaleza - Edufor - EDUFOR,903.40
12929,Matutino,Faculdade Educacional Fortaleza - Edufor - EDUFOR,864.50
12930,Matutino,Faculdade Metropolitana da Grande Fortaleza - ...,1111.50
12931,Noturno,Faculdade Metropolitana da Grande Fortaleza - ...,1111.50
12932,Matutino,Faculdade Nordeste - FANOR,1543.06
12933,Noturno,Faculdade Nordeste - FANOR,1543.06
12934,Matutino,Faculdade Uninabuco Fortaleza,741.93
12935,Noturno,Faculdade Uninassau Fortaleza,1087.07
12936,Matutino,Faculdade Uninassau Fortaleza,989.23
12937,Curso a Distância,Universidade Paulista - UNIP,349.00
12938,Matutino,Faculdade Vale do Salgado - FVS,817.35
12939,Noturno,Faculdade Vale do Salgado - FVS,817.35
12940,Matutino,Centro Universitário Doutor Leão Sampaio - Fls...,1130.79
12941,Noturno,Centro Universitário Doutor Leão Sampaio - Fls...,1130.79
12942,Matutino,Faculdade de Juazeiro do Norte - FJN,991.61
12943,Matutino,Faculdade de Medicina Estácio de Juazeiro do N...,1284.29
12944,Integral,Centro Universitário Católica de Quixadá,1443.46
12945,Matutino,Faculdade de Quixeramobim - UniQ,1155.60
12946,Noturno,Faculdade de Quixeramobim - UniQ,1155.60
12947,Noturno,Faculdade de Tecnologia Ateneu,752.40
12948,Noturno,Facudade Ieducare - Fied - FIED,1278.04

In [18]:
df[df['universidade_nome'] == 'Faculdade Princesa do Oeste - FPO']

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
12916,CE,Crateus,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,Enfermagem,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,663.36,NaN,NaN,NaN
37058,CE,Crateus,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,Psicologia,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,651.00,652.22,NaN,NaN

In [19]:
df_enf.nlargest(5,'mensalidade')

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
12916,CE,Crateus,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,Enfermagem,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,663.36,NaN,NaN,NaN
13321,PR,Curitiba,Faculdade Dom Bosco - FDB,UNIDADE MERCÊS - Mercês,Enfermagem,Bacharelado,Matutino,6990.33,0.0,1.0,NaN,NaN,606.78,NaN,NaN,NaN
13322,PR,Curitiba,Faculdade Dom Bosco - FDB,UNIDADE MERCÊS - Mercês,Enfermagem,Bacharelado,Noturno,6990.33,1.0,2.0,NaN,NaN,622.02,564.76,NaN,NaN
13450,RS,Porto Alegre,Pontifícia Universidade Católica do Rio Grande...,CENTRAL - PORTO ALEGRE - Partenon,Enfermagem,Bacharelado,Integral,3032.05,0.0,2.0,NaN,NaN,659.04,NaN,NaN,NaN
13424,RS,Canoas,Universidade La Salle - UNILASALLE,CANOAS (SEDE) - Centro,Enfermagem,Bacharelado,Matutino,2534.35,0.0,7.0,NaN,NaN,602.16,NaN,NaN,NaN

In [22]:
# Apesar de escolher os 5 menores, o atributo "keep='all'" faz com que os valores "iguais" sejam impressos, ultrapassando o limite pré estabelecido
df_enf.nsmallest(5, 'mensalidade', keep='all')

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
12815,AL,Maceio,Universidade Paulista - UNIP,MACEIÓ I - Pajuçara,Enfermagem,Bacharelado,Curso a Distância,219.0,1.0,NaN,NaN,NaN,568.10,NaN,NaN,NaN
12897,BA,Salvador,Universidade Paulista - UNIP,SALVADOR I - Nazaré,Enfermagem,Bacharelado,Curso a Distância,219.0,1.0,NaN,NaN,NaN,671.92,NaN,NaN,NaN
13001,ES,Vitoria,Universidade Paulista - UNIP,VITORIA I - Barro Vermelho,Enfermagem,Bacharelado,Curso a Distância,249.0,1.0,NaN,NaN,NaN,582.76,NaN,NaN,NaN
13025,GO,Goiania,Universidade Paulista - UNIP,GOIANIA II - Jardim Planalto,Enfermagem,Bacharelado,Curso a Distância,249.0,1.0,1.0,NaN,NaN,558.06,540.76,NaN,NaN
13246,PB,Joao Pessoa,Universidade Paulista - UNIP,JOAO PESSOA I - Tambiá,Enfermagem,Bacharelado,Curso a Distância,249.0,1.0,NaN,NaN,NaN,580.70,NaN,NaN,NaN
13282,PE,Recife,Universidade Paulista - UNIP,RECIFE II - Boa Viagem,Enfermagem,Bacharelado,Curso a Distância,249.0,1.0,1.0,NaN,NaN,572.68,571.74,NaN,NaN
13392,RN,Natal,Universidade Paulista - UNIP,NATAL I - Lagoa Nova,Enfermagem,Bacharelado,Curso a Distância,249.0,1.0,NaN,NaN,NaN,621.66,NaN,NaN,NaN